{# app/simple_app/templates/index.html #}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title> Index </title>
</head>

<body
        data-host="{{ request.get_host }}"
        data-scheme="{{ request.scheme }}"
>
    <h1>Hello World!</h1>

    <!-- Place where we will display the connection 
    message. -->
    <h2 id="welcome"></h2>
    <script src="{% static 'js/events.js' %}"></script>
</body>

</html>